/* * { 
    margin: 0;
     padding: 0;
     
} */

body {
    
    background-image: url("IMG-20220829-WA0034.jpg" );
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter:blur(3px) ;
    

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.content_img img {
    min-width: 50%;
    border-radius:4px; 
    
}
.content_text {
    width: 45%;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.6;
    background-color: rgba(252, 255, 255, 0.378);
}
.content .first_p  {
   display: inline-block;
   justify-content: left;
   
}
 
 
 
.content_img  {
  transition: transform 2s ease-out;
}

.content_img  {
    transform: scale(1.2);
    
}  
p a {
    text-decoration: solid;
}
@media (max-width:600px ) {
.content {

    flex-direction: column;
    text-align: center;
}
.content_text , .content_img {
    width: 100%;
    padding: 0;
}

.content_text {
   padding-top: 40px;
    align-items: center;
    text-align: center;
    
}
.content_img {
    transition: 2s ease-out;
    
}
.content_img {
    transform: scale(1.1);
}
.content_img  img{
    height: 280px;
    width: 420px;
}


} 